<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">home</a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                陈振宇<br />
                爱好机器人、自然语言处理和机器翻译，Rails及iOS开发，JSOI, ACM，, @Yottaa<br />
                北京朝阳
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="http://www.flickr.com/photos/vvdpzz">flickr.com/vvdpzz</a><br />
                <a href="https://github.com/vvdpzz">github.com/vvdpzz</a><br />
                <a href="https://twitter.com/vvdpzz">twitter.com/vvdpzz</a><br />
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
